<ion-content [fullscreen]="true" color="dark">
    <div class="text-end">
        <button class="btn btn-primary m-2" (click)="changeQY()">{{frequency}}</button>
    </div>
    <div class="table-responsive" style="overflow-x: auto;">
        <table class="table table-bordered table-dark">
            <thead>
                <tr class="text-start">
                    <th scope="col">#</th>
                    <th scope="col" class="bg-info sticky-col">Company</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">52H</th>
                    <th scope="col">52L</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">PE</th>
                    <th scope="col">Book Value</th>
                    <th scope="col">PB</th>
                    <th scope="col" class="bg-primary">Dividends</th>
                    <th scope="col">Holding</th>
                    <th scope="col" class="bg-warning">Revenue</th>
                    <th scope="col" class="bg-primary">Balance Sheet</th>
                    <th scope="col" class="bg-info">Cash Flow</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of stocks; let i = index">
                    <tr>
                        <td class="test-start">{{ i + 1 }} - {{data.YM}}</td>
                        <td class="test-start sticky-col">{{ data.COMPANY_NAME }}</td>
                        <td class="test-start">
                            <div>{{data.MAIN_SECTOR || '-'}} :</div>
                            <div> {{ data.SUB_SECTOR || '-' }}</div>
                        </td>
                        <td>{{ formatIndianCurrency(data.CURRENT_PRICE) || '-' }}</td>
                        <td class="bg-danger">{{ formatIndianCurrency(data['52H']) || '-'}} / {{ data['52H_PERCENTAGE']?
                            formatIndianCurrency(data['52H_PERCENTAGE'])+'%': '-'}}</td>
                        <td class="bg-success">{{ formatIndianCurrency(data['52L']) || '-'}} / {{
                            data['52L_PERCENTAGE']? formatIndianCurrency(data['52L_PERCENTAGE'])+'%': '-'}}</td>
                        <td>{{ formatIndianCurrency(data.MARKET_CAP) || '-'}}</td>
                        <td
                            [ngClass]="{'bg-danger': data.PE_RATIO > 25 || data.PE_RATIO > data.SECTOR_PE,'bg-success': data.PE_RATIO <= 25 && data.PE_RATIO <= data.SECTOR_PE}">
                            {{ data.PE_RATIO || '-'}} / {{ data.SECTOR_PE || '-'}}
                        </td>
                        <td>{{ formatIndianCurrency(data.BOOK_VALUE) || '-' }}</td>
                        <td [ngClass]="{'bg-success': data.PB_RATIO < 3,'bg-danger': data.PB_RATIO >= 3}">
                            {{ data.PB_RATIO || '-'}}
                        </td>

                        <!-- Dividends -->
                        <td class="p-0">
                            <table class="table table-bordered table-dark table-sm text-end mb-0">
                                <thead>
                                    <tr>
                                        <th class="pad-1">Date</th>
                                        <th class="pad-1">Amount</th>
                                        <th class="pad-1">Price</th>
                                        <th class="pad-1">Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dividend of data.DIVIDENDS.slice(0, 6)">
                                        <td class="pad-1">{{ dividend.DIV_EX_DATE }}</td>
                                        <td class="pad-1">{{ dividend.DIV_AMOUNT }}</td>
                                        <td class="pad-1">{{ dividend.SHARE_PRICE }}</td>
                                        <td class="pad-1">{{ dividend.DIV_PERCENTAGE }}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                        <!-- Holder -->
                        <td class="p-0">
                            <table class="table table-bordered table-dark table-sm text-end mb-0">
                                <thead>
                                    <tr>
                                        <th class="pad-1">Category</th>
                                        <th *ngFor="let quarter of data.SHAREHOLDING_PATTERN.YRC" class="pad-1">
                                            {{quarter}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pad-1">Promoters</td>
                                        <td *ngFor="let holding of data.SHAREHOLDING_PATTERN.Promoters_Holding; let i = index"
                                            class="pad-1" [ngClass]="{
                                                'bg-success': i > 0 && +holding > +data.SHAREHOLDING_PATTERN.Promoters_Holding[i-1],
                                                'bg-danger': i > 0 && +holding < +data.SHAREHOLDING_PATTERN.Promoters_Holding[i-1]
                                            }">
                                            {{holding}}%
                                        </td>
                                    </tr>

                                    <!-- FIIs Row -->
                                    <tr>
                                        <td class="pad-1">FIIs</td>
                                        <td *ngFor="let holding of data.SHAREHOLDING_PATTERN.FIIs_Holding; let i = index"
                                            class="pad-1" [ngClass]="{
            'bg-success': i > 0 && +holding > +data.SHAREHOLDING_PATTERN.FIIs_Holding[i-1],
            'bg-danger': i > 0 && +holding < +data.SHAREHOLDING_PATTERN.FIIs_Holding[i-1]
        }">
                                            {{holding}}%
                                        </td>
                                    </tr>

                                    <!-- DIIs Row -->
                                    <tr>
                                        <td class="pad-1">DIIs</td>
                                        <td *ngFor="let holding of data.SHAREHOLDING_PATTERN.DIIs_Holding; let i = index"
                                            class="pad-1" [ngClass]="{
            'bg-success': i > 0 && +holding > +data.SHAREHOLDING_PATTERN.DIIs_Holding[i-1],
            'bg-danger': i > 0 && +holding < +data.SHAREHOLDING_PATTERN.DIIs_Holding[i-1]
        }">
                                            {{holding}}%
                                        </td>
                                    </tr>

                                    <!-- Public Row -->
                                    <tr>
                                        <td class="pad-1">Public</td>
                                        <td *ngFor="let holding of data.SHAREHOLDING_PATTERN.Public_Holding; let i = index"
                                            class="pad-1" [ngClass]="{
            'bg-success': i > 0 && +holding > +data.SHAREHOLDING_PATTERN.Public_Holding[i-1],
            'bg-danger': i > 0 && +holding < +data.SHAREHOLDING_PATTERN.Public_Holding[i-1]
        }">
                                            {{holding}}%
                                        </td>
                                    </tr>

                                    <!-- Pledged Row - New Condition -->
                                    <tr>
                                        <td class="pad-1">Pledged</td>
                                        <td *ngFor="let holding of data.SHAREHOLDING_PATTERN.Pledged_Holding; let i = index"
                                            class="pad-1" [ngClass]="{
                                                'bg-danger': i > 0 && +holding > +data.SHAREHOLDING_PATTERN.Pledged_Holding[i-1],
                                                'bg-success': i > 0 && +holding < +data.SHAREHOLDING_PATTERN.Pledged_Holding[i-1]
                                            }">
                                            {{holding}}%
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                        <!-- Yearly Revenue -->
                        <td *ngIf="frequency === 'Yearly'" class="p-0">
                            <table class="table table-bordered table-dark table-sm text-end mb-0">
                                <thead>
                                    <tr>
                                        <th class="pad-1">Year</th>
                                        <th class="pad-1">Revenue</th>
                                        <th class="pad-1">R Growth</th>
                                        <th class="pad-1" *ngIf="data.YEARLY_REVENUE[0]?.interest !== null">Interest
                                        </th>
                                        <th class="pad-1" *ngIf="data.YEARLY_REVENUE[0]?.interestEarned !== null">
                                            Interest Earned</th>
                                        <th class="pad-1">Net Profit</th>
                                        <th class="pad-1">P Growth</th>
                                        <th class="pad-1">Margin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let quarterData of data.YEARLY_REVENUE; let i = index; let last = last">
                                        <td class="pad-1">{{quarterData.date}}</td>
                                        <!-- Revenue -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && +quarterData.totalIncome > +data.YEARLY_REVENUE[i+1].totalIncome,
                                                'bg-danger': !last && +quarterData.totalIncome <= +data.YEARLY_REVENUE[i+1].totalIncome
                                            }">
                                            {{formatIndianCurrency(quarterData.totalIncome)}}
                                        </td>
                                        <!-- Revenue Growth -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && quarterData.revenueGrowth !== null && +quarterData.revenueGrowth > +data.YEARLY_REVENUE[i+1].revenueGrowth,
                                                'bg-danger': !last && quarterData.revenueGrowth !== null && +quarterData.revenueGrowth <= +data.YEARLY_REVENUE[i+1].revenueGrowth
                                            }">
                                            {{quarterData.revenueGrowth !== null ? quarterData.revenueGrowth
                                            + '%' :
                                            '-'}}
                                        </td>
                                        <!-- Interest Column (if exists) -->
                                        <td class="pad-1" *ngIf="quarterData.interest !== null" [ngClass]="{
              'bg-success': +quarterData.interest === 0 || 
                           (!last && +quarterData.interest < +data.YEARLY_REVENUE[i+1]?.interest),
              'bg-danger': !last && +quarterData.interest > 0 && 
                          +quarterData.interest > +data.YEARLY_REVENUE[i+1]?.interest
            }">
                                            {{formatIndianCurrency(quarterData.interest)}}
                                        </td>

                                        <!-- Interest Earned Column (if exists) -->
                                        <td class="pad-1" *ngIf="quarterData.interestEarned !== null" [ngClass]="{
  'bg-success': !last && +quarterData.interestEarned > +data.YEARLY_REVENUE[i+1]?.interestEarned,
  'bg-danger': !last && +quarterData.interestEarned < +data.YEARLY_REVENUE[i+1]?.interestEarned
}">
                                            {{formatIndianCurrency(quarterData.interestEarned)}}
                                        </td>
                                        <!-- Net Profit -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && +quarterData.netProfit > +data.YEARLY_REVENUE[i+1].netProfit,
                                                'bg-danger': !last && +quarterData.netProfit <= +data.YEARLY_REVENUE[i+1].netProfit
                                            }">
                                            {{formatIndianCurrency(quarterData.netProfit)}}
                                        </td>
                                        <!-- Profit Growth -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && quarterData.profitGrowth !== null && +quarterData.profitGrowth > +data.YEARLY_REVENUE[i+1].profitGrowth,
                                                'bg-danger': !last && quarterData.profitGrowth !== null && +quarterData.profitGrowth <= +data.YEARLY_REVENUE[i+1].profitGrowth
                                            }">
                                            {{quarterData.profitGrowth !== null ? quarterData.profitGrowth +
                                            '%' : '-'}}
                                        </td>
                                        <!-- Profit Margin (calculated) -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && (+quarterData.netProfit/+quarterData.totalIncome) > (+data.YEARLY_REVENUE[i+1].netProfit/+data.YEARLY_REVENUE[i+1].totalIncome),
                                                'bg-danger': !last && (+quarterData.netProfit/+quarterData.totalIncome) <= (+data.YEARLY_REVENUE[i+1].netProfit/+data.YEARLY_REVENUE[i+1].totalIncome)
                                            }">
                                            {{quarterData.netProfit !== null && quarterData.totalIncome !==
                                            null &&
                                            quarterData.totalIncome != 0
                                            ? ((+quarterData.netProfit / +quarterData.totalIncome) *
                                            100).toFixed(2) +
                                            '%'
                                            : '-'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                        <!-- Quarterly Revenue -->
                        <td *ngIf="frequency === 'Quarterly'" class="p-0">
                            <table class="table table-bordered table-dark table-sm text-end mb-0">
                                <thead>
                                    <tr>
                                        <th class="pad-1">Year</th>
                                        <th class="pad-1">Revenue</th>
                                        <th class="pad-1">R Growth</th>
                                        <th class="pad-1" *ngIf="data.QARTERLY_REVENUE[0]?.interest !== null">Interest
                                        </th>
                                        <th class="pad-1" *ngIf="data.QARTERLY_REVENUE[0]?.interestEarned !== null">
                                            Interest Earned</th>
                                        <th class="pad-1">Net Profit</th>
                                        <th class="pad-1">P Growth</th>
                                        <th class="pad-1">Margin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let quarterData of data.QARTERLY_REVENUE; let i = index; let last = last">
                                        <td class="pad-1">{{quarterData.date}}</td>
                                        <!-- Revenue -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && +quarterData.totalIncome > +data.QARTERLY_REVENUE[i+1].totalIncome,
                                                'bg-danger': !last && +quarterData.totalIncome <= +data.QARTERLY_REVENUE[i+1].totalIncome
                                            }">
                                            {{formatIndianCurrency(quarterData.totalIncome)}}
                                        </td>
                                        <!-- Revenue Growth -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && quarterData.revenueGrowth !== null && +quarterData.revenueGrowth > +data.QARTERLY_REVENUE[i+1].revenueGrowth,
                                                'bg-danger': !last && quarterData.revenueGrowth !== null && +quarterData.revenueGrowth <= +data.QARTERLY_REVENUE[i+1].revenueGrowth
                                            }">
                                            {{quarterData.revenueGrowth !== null ? quarterData.revenueGrowth
                                            + '%' :
                                            '-'}}
                                        </td>
                                        <!-- Interest Column (if exists) -->
                                        <td class="pad-1" *ngIf="quarterData.interest !== null" [ngClass]="{
              'bg-success': +quarterData.interest === 0 || 
                           (!last && +quarterData.interest < +data.QARTERLY_REVENUE[i+1]?.interest),
              'bg-danger': !last && +quarterData.interest > 0 && 
                          +quarterData.interest > +data.QARTERLY_REVENUE[i+1]?.interest
            }">
                                            {{formatIndianCurrency(quarterData.interest)}}
                                        </td>

                                        <!-- Interest Earned Column (if exists) -->
                                        <td class="pad-1" *ngIf="quarterData.interestEarned !== null" [ngClass]="{
  'bg-success': !last && +quarterData.interestEarned > +data.QARTERLY_REVENUE[i+1]?.interestEarned,
  'bg-danger': !last && +quarterData.interestEarned < +data.QARTERLY_REVENUE[i+1]?.interestEarned
}">
                                            {{formatIndianCurrency(quarterData.interestEarned)}}
                                        </td>
                                        <!-- Net Profit -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && +quarterData.netProfit > +data.QARTERLY_REVENUE[i+1].netProfit,
                                                'bg-danger': !last && +quarterData.netProfit <= +data.QARTERLY_REVENUE[i+1].netProfit
                                            }">
                                            {{formatIndianCurrency(quarterData.netProfit)}}
                                        </td>
                                        <!-- Profit Growth -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && quarterData.profitGrowth !== null && +quarterData.profitGrowth > +data.QARTERLY_REVENUE[i+1].profitGrowth,
                                                'bg-danger': !last && quarterData.profitGrowth !== null && +quarterData.profitGrowth <= +data.QARTERLY_REVENUE[i+1].profitGrowth
                                            }">
                                            {{quarterData.profitGrowth !== null ? quarterData.profitGrowth +
                                            '%' : '-'}}
                                        </td>
                                        <!-- Profit Margin (calculated) -->
                                        <td class="pad-1" [ngClass]="{
                                                'bg-success': !last && (+quarterData.netProfit/+quarterData.totalIncome) > (+data.QARTERLY_REVENUE[i+1].netProfit/+data.QARTERLY_REVENUE[i+1].totalIncome),
                                                'bg-danger': !last && (+quarterData.netProfit/+quarterData.totalIncome) <= (+data.QARTERLY_REVENUE[i+1].netProfit/+data.QARTERLY_REVENUE[i+1].totalIncome)
                                            }">
                                            {{quarterData.netProfit !== null && quarterData.totalIncome !==
                                            null &&
                                            quarterData.totalIncome != 0
                                            ? ((+quarterData.netProfit / +quarterData.totalIncome) *
                                            100).toFixed(2) +
                                            '%'
                                            : '-'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                        <!-- Yearly Balance Sheet -->
                        <td class="p-0">
                            <table class="table table-bordered table-dark table-sm text-end mb-0">
                                <thead>
                                    <tr>
                                        <th class="pad-1">R & S</th>
                                        <th class="pad-1">Current L</th>
                                        <th class="pad-1">Other L</th>
                                        <th class="pad-1">Fixed A</th>
                                        <th class="pad-1">Current A</th>
                                        <th class="pad-1">Other A</th>
                                        <th class="pad-1">Total A</th>
                                        <th class="pad-1">Contingent L</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let quarterData of data.YEARLY_REVENUE; let i = index; let last = last">
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.reservesAndSurplus > +data.YEARLY_REVENUE[i+1].reservesAndSurplus,
                                            'bg-danger': !last && +quarterData.reservesAndSurplus <= +data.YEARLY_REVENUE[i+1].reservesAndSurplus
                                        }">{{formatIndianCurrency(quarterData.reservesAndSurplus)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-danger': !last && +quarterData.currentLiabilities > +data.YEARLY_REVENUE[i+1].currentLiabilities,
                                            'bg-success': !last && +quarterData.currentLiabilities <= +data.YEARLY_REVENUE[i+1].currentLiabilities
                                        }">{{formatIndianCurrency(quarterData.currentLiabilities)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-danger': !last && +quarterData.otherLiabilities > +data.YEARLY_REVENUE[i+1].otherLiabilities,
                                            'bg-success': !last && +quarterData.otherLiabilities <= +data.YEARLY_REVENUE[i+1].otherLiabilities
                                        }">{{formatIndianCurrency(quarterData.otherLiabilities)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.totalAssets > +data.YEARLY_REVENUE[i+1].totalAssets,
                                            'bg-danger': !last && +quarterData.totalAssets <= +data.YEARLY_REVENUE[i+1].totalAssets
                                        }">{{formatIndianCurrency(quarterData.fixedAssets)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.currentAssets > +data.YEARLY_REVENUE[i+1].currentAssets,
                                            'bg-danger': !last && +quarterData.currentAssets <= +data.YEARLY_REVENUE[i+1].currentAssets
                                        }">{{formatIndianCurrency(quarterData.currentAssets)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.otherAssets > +data.YEARLY_REVENUE[i+1].otherAssets,
                                            'bg-danger': !last && +quarterData.otherAssets <= +data.YEARLY_REVENUE[i+1].otherAssets
                                        }">{{formatIndianCurrency(quarterData.otherAssets)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.totalAssets > +data.YEARLY_REVENUE[i+1].totalAssets,
                                            'bg-danger': !last && +quarterData.totalAssets <= +data.YEARLY_REVENUE[i+1].totalAssets
                                        }">{{formatIndianCurrency(quarterData.totalAssets)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-danger': !last && +quarterData.contingentLiabilities > +data.YEARLY_REVENUE[i+1].contingentLiabilities,
                                            'bg-success': !last && +quarterData.contingentLiabilities <= +data.YEARLY_REVENUE[i+1].contingentLiabilities
                                        }">{{formatIndianCurrency(quarterData.contingentLiabilities)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                        <!-- Yearly Cash Flow -->
                        <td class="p-0">
                            <table class="table table-bordered table-dark table-sm text-end mb-0">
                                <thead>
                                    <tr>
                                        <th class="pad-1">Operating A</th>
                                        <th class="pad-1">Investing A</th>
                                        <th class="pad-1">Financing A</th>
                                        <th class="pad-1">Other A</th>
                                        <th class="pad-1">Net CF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let quarterData of data.YEARLY_REVENUE; let i = index; let last = last">
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.operatingActivities > +data.YEARLY_REVENUE[i+1].operatingActivities,
                                            'bg-danger': !last && +quarterData.operatingActivities <= +data.YEARLY_REVENUE[i+1].operatingActivities
                                        }">{{formatIndianCurrency(quarterData.operatingActivities)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.investingActivities > +data.YEARLY_REVENUE[i+1].investingActivities,
                                            'bg-danger': !last && +quarterData.investingActivities <= +data.YEARLY_REVENUE[i+1].investingActivities
                                        }">{{formatIndianCurrency(quarterData.investingActivities)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.financingActivities > +data.YEARLY_REVENUE[i+1].financingActivities,
                                            'bg-danger': !last && +quarterData.financingActivities <= +data.YEARLY_REVENUE[i+1].financingActivities
                                        }">{{formatIndianCurrency(quarterData.financingActivities)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.otherCashFlow > +data.YEARLY_REVENUE[i+1].otherCashFlow,
                                            'bg-danger': !last && +quarterData.otherCashFlow <= +data.YEARLY_REVENUE[i+1].otherCashFlow
                                        }">{{formatIndianCurrency(quarterData.otherCashFlow)}}</td>
                                        <td class="pad-1" [ngClass]="{
                                            'bg-success': !last && +quarterData.netCashFlow > +data.YEARLY_REVENUE[i+1].netCashFlow,
                                            'bg-danger': !last && +quarterData.netCashFlow <= +data.YEARLY_REVENUE[i+1].netCashFlow
                                        }">{{formatIndianCurrency(quarterData.netCashFlow)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                </ng-container>
            </tbody>
        </table>
    </div>
</ion-content>