<ion-content [fullscreen]="true" color="dark">
    <div class="text-end">
        <button class="btn btn-primary m-2" (click)="changeQY()">{{frequency}}</button>
    </div>
    <div class="table-responsive" style="overflow-x: auto;">
        <table class="table table-bordered table-dark">
            <thead>
                <tr class="text-start">
                    <th scope="col">#</th>
                    <th scope="col" class="bg-info sticky-col">Company</th>
                    <!-- <th scope="col">Sector</th> -->
                    <th scope="col">Current Price</th>
                    <th scope="col">52H</th>
                    <th scope="col">52L</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">PE</th>
                    <th scope="col">Book Value</th>
                    <th scope="col">PB</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of stocks; let i = index">
                    <tr>
                        <td class="test-start">{{ i + 1 }} - {{data.YM}}</td>
                        <td class="test-start sticky-col">{{ data.COMPANY_NAME }}</td>
                        <td class="text-end">{{ formatIndianCurrency(data.CURRENT_PRICE) || '-' }}</td>
                        <td class="bg-danger">{{ formatIndianCurrency(data['52H']) || '-'}} / {{ data['52H_PERCENTAGE']?
                            formatIndianCurrency(data['52H_PERCENTAGE'])+'%': '-'}}</td>
                        <td class="bg-success">{{ formatIndianCurrency(data['52L']) || '-'}} / {{
                            data['52L_PERCENTAGE']? formatIndianCurrency(data['52L_PERCENTAGE'])+'%': '-'}}</td>
                        <td class="text-end">{{ formatIndianCurrency(data.MARKET_CAP) || '-'}}</td>
                        <td
                            [ngClass]="{'bg-danger': data.PE_RATIO > 25 || data.PE_RATIO > data.SECTOR_PE,'bg-success': data.PE_RATIO <= 25 && data.PE_RATIO <= data.SECTOR_PE}">
                            {{ data.PE_RATIO || '-'}} / {{ data.SECTOR_PE || '-'}}
                        </td>
                        <td>{{ formatIndianCurrency(data.BOOK_VALUE) || '-' }}</td>
                        <td [ngClass]="{'bg-success': data.PB_RATIO < 3,'bg-danger': data.PB_RATIO >= 3}">
                            {{ data.PB_RATIO || '-'}}
                        </td>
                </ng-container>
            </tbody>
        </table>
    </div>
</ion-content>