.table th,
.table td {
    white-space: nowrap;
}

// .modern-select {
//     border: 2px solid #e9ecef;
//     border-radius: 0.5rem;
//     padding: 0.75rem;
//     font-size: 0.875rem;
//     transition: all 0.3s ease;
//     background-color: #f8f9fa;

//     &:focus {
//         border-color: #131f34;
//         box-shadow: 0 0 0 0.2rem rgba(#131f34, 0.25);
//         background-color: white;
//     }
// }