@import "node_modules/bootstrap/scss/bootstrap";

@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.pad-1 {
    padding: 3px !important;
}

.cursor-pointer {
    cursor: pointer
}

.fw-700 {
    font-weight: 700;
}

.pos {
    color: #008000;
}

.neg {
    color: #ff0000;
}